:root{
    --light: #f4f4f9;
    --dark: #1e1e24;

    --background: var(--light);
    --text: var(--dark);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    color: var(--text);

    transition: background-color 0.3s ease, color 0.3s ease;
}

.google_search_page{
    margin: 10px;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#google_logo{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#search_query{
    width: 90%;
    height: 30px;
    border-radius: 8px;
    border: var(--text) solid 2px;
    margin: 30px;
    background-color: var(--background);
    
}

.search_buttons_wrapper{
    display: flex;
    justify-content: center;
}

button{
    margin: 10px;
    border: hidden;
    border-radius: 5px;
    padding: 7px;
    color: var(--text);
    background-color: var(--background);
}

button:hover{
    background-color: var(--text);
    color: var(--background);
}