:root{
    --background-color : #000;
    --foreground-color: #fff;
}

body,
html{
    background-color: var(--background-color);
    font-family: monospace;
    font-size: large;
}

body{
    height: 90vh;
}

.button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#draw_button{
    padding: 1rem;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--foreground-color);
    color: var(--background-color);
    border: var(--background-color) solid;
    border-radius: 0.5rem;
}

#draw_button:hover{
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: var(--foreground-color) solid;
}